$green400: #5d6b67;
$green500: #4e5a56;
$green600: #3e4844;

$blue400: #d5e4f5;
$blue500: #c0cddd;
$blue600: #aab6c4;

$orange400: #edbe9d;
$orange500: #d5ab8d;
$orange600: #be987e;

$black400: #666666;
$black500: #4c4c4c;
$black600: #333333;
