$color-green-400: #5d6b67;
$color-green-500: #4e5a56;
$color-green-600: #3e4844;

$color-blue-400: #d5e4f5;
$color-blue-500: #c0cddd;
$color-blue-600: #aab6c4;

$color-orange-400: #edbe9d;
$color-orange-500: #d5ab8d;
$color-orange-600: #be987e;

$color-black-400: #666666;
$color-black-500: #4c4c4c;
$color-black-600: #333333;
