@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
}

#__next {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
