@import "styles/colors.scss";

.Nav {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: $green400;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $orange400;
  cursor: pointer;
}
